body{
    zoom: 0.8 !important;
    /* width: 100%; */
}
.container{
    width: 2000px;
}
:root{
    font-family:'Montserrat', sans-serif !important;
    --primary-pink : #d30180 ;
    --primary-dark-grey : #b3aeae;
    --primary-light-grey : #ebebeb;
}
.btn-pink{
    background-color: var(--primary-pink);
    border: 1px solid var(--primary-pink);
    color: #fff;
    padding: 10px 15px;
    border-radius: 0;
    margin-top: 30px;
}
/* header start */
header{
    background-color: #000;
}
header nav .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 20px;
}
header nav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
    font-size: 20px;
}
header .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #fff !important;
}
header nav .navbar-nav{
    width: 650px;
}
header nav .navbar-nav .nav-item .signup-btn{
    background-color: var(--primary-pink);
    color: #fff;
    border: 1px solid var(--primary-pink);
    padding: 10px 30px;
    margin-left: 30px;
}
/* header end */
/* footer start */
footer{
    background-color: #000;
    padding: 50px 0;
}
footer .footer-content h4{
    font-size: 25px;
    padding: 20px 0;
    color: var(--primary-pink);
}
footer .footer-content ul{
    list-style: none;
}
footer .footer-content ul li{
    margin-left: -35px !important;
    padding-bottom: 20px;
}
footer .footer-content ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
footer .copy-line{
    font-size: 17px;
    color: #fff;
    margin-bottom: -20px;

}

/* ----------------------index page------------ */
#quest-banner{
    background-image: url('../images/banner-img.jpg');
    height: 100vh;
    width: 100%;
    position: relative;
}
#quest-banner .quest-banner-btn{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#quest-banner .banner-search{
    background-color: var(--primary-dark-grey);
    padding: 10px;
}
#quest-banner .banner-search form input,
#quest-banner .banner-search form select,
#quest-banner .banner-search form button{
    height: 55px;
    border-radius: 0;
    margin-right: -5px;
}
#quest-banner .banner-search form input{
    border: 1px solid #fff;
}
#quest-banner .banner-search form select{
    background-color: var(--primary-pink);
    border: 1px solid var(--primary-pink);
    color: #fff;
}
#quest-banner .banner-search form button{
    width: 100%;
    background-color: #000;
    border: 1px solid #000;
}
#quest-banner .banner-search form button i{
    font-size: 30px;
}
#quest-banner .banner-search .row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
#quest-marketplace{
    padding: 50px 0;
}
#quest-marketplace .quest-sell-now{
    padding: 70px;
}
#quest-marketplace .quest-sell-now .media i{
    font-size: 40px;
    padding: 0px 20px;
}
#quest-marketplace .quest-sell-now .media .media-body h5{
    font-size: 25px;
    padding-bottom: 15px;
}
#quest-latestwork{
    padding: 50px 0;
    background-color: var(--primary-light-grey);
}
#quest-latestwork .quest-work{
    padding-top: 40px;
}
#quest-latestwork .img-latestwork img{
    width: 100%;
    position: relative;
}
#quest-trendingwork{
    padding: 50px 0;
}
#quest-trendingwork h2{
    letter-spacing: 10px;
    padding-bottom: 40px;
}
#quest-trendingwork h2 span{
    font-size: 20px;
}
#quest-trendingwork .quest-trending-images{
    /* padding-top: 40px; */
    display: flex;
}
#quest-trendingwork .quest-trending-images .quest-trend-img{
    padding: 3px;
}
#quest-trendingwork .quest-trending-images .quest-trend-img img{
    width: 100%;
}
#quest-about{
    background-image: url('../images/quest-about-bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    color: #fff;
}
#quest-blogs{
    padding: 50px 0;
}
#quest-blogs h2 span{
    color: var(--primary-pink);
}
#quest-blogs .quest-blog-list{
    padding-top: 30px;
}
#quest-blogs .quest-blog-list .blog-details{
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.08);
    padding: 20px;
}
#quest-blogs .quest-blog-list .quest-blog-head p{
    margin-top: -10px;
    font-style: italic;
}
#quest-blogs .quest-blog-list .quest-blog-head p span{
    color: var(--primary-dark-grey);
}
#quest-blogs .quest-blog-list img{
    width: 100%;
    padding-bottom: 15px;
}
#quest-blogs .quest-blog-list .quest-blog-content .blog-links .text-left{
    text-decoration: underline;
}
#quest-blogs .quest-blog-list .quest-blog-content .blog-links .text-left a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
}
#quest-blogs .quest-blog-list .quest-blog-content .blog-links .text-right{
    position: absolute;
    right: 30px;
}

/*---------------- photographer portfolio page start -----------------------*/
#photogpher-portfolio-banner{
    background-image: url('../images/photographer-portfolio-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}
#photogpher-portfolio-banner .photographer-photo-upload img{
    width: 60%;
    background-color: #fff;
    padding: 0px;
    border-radius: 100%;
    border: 4px solid #fff;
}
#photogpher-portfolio-banner h1{
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
    color: #fff;
}
#photogpher-portfolio-banner p{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}
#photogpher-portfolio-banner ul{
    list-style: none;
    padding-left: 0;
}
#photogpher-portfolio-banner ul li{
    display: inline;
    padding-right: 25px;
}
#photogpher-portfolio-banner ul li a i{
    font-size: 25px;
    color: #fff;
}
#photogpher-portfolio-banner ul li a i:hover{
    color: var(--primary-pink);
}
#photofrapher-work{
    padding: 50px;
}
#photofrapher-work h2{
    letter-spacing: 10px;
    padding-bottom: 40px;
}
#photofrapher-work .photographer-work-image{
    padding-top: 25px;
}
#photofrapher-work .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
#photofrapher-work .hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 4.75em;
	background-color: var(--primary-pink);
	color: #fff;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	/* visibility: hidden; */

}

#photofrapher-work .hovereffect img {
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

#photofrapher-work .hovereffect:hover img {
-webkit-transform: translate3d(0,-10%,0);
    transform: translate3d(0,-10%,0);
}

#photofrapher-work .hovereffect h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
	float: left;
	margin: 0px;
	display: inline-block;
}

#photofrapher-work .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	margin: 50px 0 0 0;
	background-color: transparent;
}
#photofrapher-work .hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}


#photofrapher-work .hovereffect p.icon-links a {
	float: right;
	color: #fff;
	font-size: 1.4em;
}

#photofrapher-work .hovereffect:hover p.icon-links a:hover,
#photofrapher-work .hovereffect:hover p.icon-links a:focus {
	color: #252d31;
}

#photofrapher-work .hovereffect h3,
#photofrapher-work .hovereffect p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
	visibility: visible;
}

#photofrapher-work .hovereffect p.icon-links a span:before {
	display: inline-block;
	padding: 8px 10px;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


#photofrapher-work .hovereffect:hover .overlay,
#photofrapher-work .hovereffect:hover h3,
#photofrapher-work .hovereffect:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

#photofrapher-work .hovereffect:hover h3 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

#photofrapher-work .hovereffect:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

#photofrapher-work .hovereffect:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

#photofrapher-work .hovereffect:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

/*----------- Blog Page Start -----------------*/
#blog-banner{
    background-image: url('../images/blog-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
}
#blog-banner h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 70px;
    font-weight: 800;
}
#blog-list-section{
    padding: 70px 0;
}
#blog-list-section .blog-list-detail{
    padding: 30px 0;
}
#blog-list-section .blog-list-detail:hover .card{
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.08);
}
#blog-list-section .blog-list-detail .card img{
    width: 100%;
}
#blog-list-section .blog-list-detail .card .card-body .blog-date-info{
    font-style: italic;
    font-size: 15px;
    margin-top: -10px;
}
#blog-list-section .blog-list-detail .card .card-body .card-title{
    font-weight: 700;
    color: var(--primary-pink);
    margin-top: -10px;
}
#blog-list-section .blog-list-detail .card .card-body .card-text{
    font-size: 15px;
}
#blog-list-section .blog-list-detail .card .card-body .blog-links span a{
    text-decoration: none;
    color: #000;
}
#blog-list-section .blog-list-detail .card .card-body .blog-links .text-left{
    text-decoration: underline;
}
#blog-list-section .blog-list-detail .card .card-body .blog-links .text-right{
    position: absolute;
    right: 0;
    padding-right: 25px;
}

/*------------- Inner Blog Page -----------------*/
#inner-blog-banner{
    background-image: url('../images/blog-inner-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
}
#inner-blog-banner h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 70px;
    font-weight: 800;
}
#blog-detail-section{
    padding: 60px 0;
}
#blog-detail-section h2{
    font-weight: 700;
    color: var(--primary-pink);
    padding-bottom: 15px;
}
#blog-detail-section .blog-info{
    font-size: 15px;
    font-weight: 600;
}
#blog-detail-section .blog-info span{
    padding-right: 30px;
}
#blog-detail-section img{
    width: 100%;
    padding-bottom: 20px;
}
#blog-detail-section .blog-form{
    padding: 20px;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.08);
}
#blog-detail-section .blog-comments{
    margin-top: 60px;
    border: 1px solid rgb(179, 177, 177);
    padding: 30px;
}
#blog-detail-section .blog-comments .blog-comment-view .comment-para span{
    padding-left: 25px;
    text-decoration: underline;
}
#blog-detail-section .blog-comments .blog-comment-view .comment-para span a{
    text-decoration: none;
}
#blog-detail-section .blog-comments .form-group input{
    margin-bottom: -30px;
}
#blog-detail-section .new-blog-detail{
    background-color: var(--primary-light-grey);
    padding: 20px;
}
#blog-detail-section .blog-photographer-accounts ul{
    list-style: none;
    padding-left: 0;
    margin: 20px;
}
#blog-detail-section .blog-photographer-accounts ul li{
    display: inline;
    padding: 20px;
}
#blog-detail-section .blog-photographer-accounts ul li a{
    text-decoration: none;
    color: #000;
    font-size: 28px;
}
#blog-detail-section .blog-photographer-accounts ul li a:hover{
    color: var(--primary-pink);
}
/*-------------Career Page -------------------*/
#career-banner{
    background-image: url('../images/career-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
}
#career-banner h1{
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-15%, -50%);
    color: #fff;
    font-size: 55px;
    font-weight: 800;
}
#career-form-section{
    padding: 70px 0;
} 
#career-form-section form{
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.08);
    padding: 30px;
    background-color: #fff;
}
#career-form-section form input{
    height: 55px;
    border-radius: 0;
}

/*---------------------------Conat us Page----------------------------*/
#contactus-banner{
    background-image: url('../images/contact-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
}
#contactus-section .contactus-fullform{
    margin-top: -30%;
    box-shadow: 0 0 23px 0 rgba(0, 0, 0, .1);
}
#contactus-section .contactus-fullform .contactus-image{
    background-image: url('../images/contactus-image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
#contactus-section .contactus-fullform .contactus-details{
    background-color: #fff;
    padding: 35px;
}
#contactus-section .contactus-fullform .contactus-details form{
    padding-top: 30px;
}
#contactus-section .contactus-fullform .contactus-details form input{
    height: 55px;
    border-radius: 0;
    border: 0;
    margin-top: 10px;
}
#contactus-section .contactus-fullform .contactus-details form textarea{
    border-radius: 0;
    border: 1px solid var(--primary-dark-grey);
    margin-top: 10px;
}
#contactus-section .contactus-fullform .contactus-details form .input-group-prepend span{
    border: 0;
    background-color: transparent !important;
}
#contactus-section .contactus-fullform .contactus-details form .input-group-prepend span i{
    font-size: 20px;
}
#contactus-section .contactus-fullform .contactus-details form .input-group{
    border: 1px solid var(--primary-dark-grey);
}
#contactus-section .contact-us-unit{
    padding: 100px 0;
}
#contactus-section .contact-us-unit h4{
    font-size: 20px;
    font-weight: 400;
}
#contactus-section .contact-us-unit .contact-us-unit-detail{
    padding-top: 50px;
}
#contactus-section .contact-us-unit .contact-us-unit-detail .media i{
    font-size: 22px;
    color: #fff;
}
#contactus-section .contact-us-unit .contact-us-unit-detail .media .fa-phone{
    background-color: #0066cc;
    padding: 12px;
    border: 1px solid #0066cc;
    border-radius: 100%;
}
#contactus-section .contact-us-unit .contact-us-unit-detail .media .fa-envelope{
    background-color: #ff1a1a;
    padding: 12px;
    border: 1px solid #ff1a1a;
    border-radius: 100%;
}
#contactus-section .contact-us-unit .contact-us-unit-detail .media .fa-map-marker-alt{
    background-color: rgb(18, 219, 62);
    padding: 12px;
    border: 1px solid rgb(18, 219, 62);
    border-radius: 50%;
}
#contactus-section .contact-us-unit .contact-us-unit-detail .media .media-body h5{
    margin-top: 10px;
    font-size: 25px;
    color: #464545;
}
#contactus-section .contact-us-unit .contact-us-unit-detail .media .media-body h5 span a{
    text-decoration: none;
    color: var(--primary-dark-grey);
}

/*-------------------Privacy policy ----------------------*/
#privacy-policy-banner{
    background-image: url('../images/privacy-policy-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
#privacy-policy-banner h1{
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-15%, -50%);
    color: #fff;
    font-size: 55px;
    font-weight: 800;
}
#privacy-policy-section{
    padding: 70px 0;
}

/*------------------- Terms and conditions ----------------------*/
#term-conditions-banner{
    background-image: url('../images/term-conditions-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
#term-conditions-banner h1{
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-15%, -50%);
    color: #fff;
    font-size: 55px;
    font-weight: 800;
}
#term-conditions-section{
    padding: 70px 0;
}

/*------------- about us page ----------------*/
#about-us-banner{
    background-image: url('../images/about-us-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
#about-us-banner h1{
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-15%, -50%);
    color: #fff;
    font-size: 55px;
    font-weight: 800;
}
#aboutus-visions-section{
    padding: 70px 0;
}
#aboutus-visions-section .about-vision-pink{
    padding: 30px;
    background-color: #ff66b3;
    height: 251px;
    box-shadow: 0 0 23px 0 rgba(0, 0, 0, .1);
}
#aboutus-visions-section .about-vision-white{
    padding: 30px;
    background-color: #fff;
    height: 251px;
    box-shadow: 0 0 23px 0 rgba(0, 0, 0, .1);
}
#aboutus-visions-section .about-vision-blue{
    padding: 30px;
    background-color: #668cff;
    height: 251px;
    box-shadow: 0 0 23px 0 rgba(0, 0, 0, .1);
}
#aboutus-visions-section .about-vision-img img{
    width: 60%;
}
#about-us-details{
    background-image: url('../images/about-us/about-detail-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
}
#about-us-details .aboutus-content{
    padding: 70px 0;
}
#about-us-details .aboutus-content h2{
    padding-bottom: 20px;
    font-weight: 700;
}
#aboutus-features-section{
    padding: 70px 0;
}
#aboutus-features-section .about-feature-img{
    padding: 30px;
}
#aboutus-features-section .about-feature-img:hover{
    box-shadow: 0 0 23px 0 rgba(0, 0, 0, .1);
}
#aboutus-features-section .about-feature-img img{
    width: 30%;
    padding-bottom: 20px;
}
#aboutus-features-section .about-feature-img h4{
    padding-bottom: 20px;
}

/*----------- faq page -------------*/
#faq-banner{
    background-image: url('../images/faq-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
#faq-banner h1{
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-15%, -50%);
    color: #fff;
    font-size: 55px;
    font-weight: 800;
}
#faq-details-section{
    padding: 70px 0;
    background-color: #f8f8f9;
}
#faq-details-section .faq-head{
    padding-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
}
#faq-details-section .accordion .card{
    margin-bottom: 30px;
    border-radius: 0 !important;
    border: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}
#faq-details-section .accordion .card .card-header{
    border: 0;
    background-color: #fff !important;
    
}
#faq-details-section .accordion .card .card-header h2 button{
    color: var(--primary-pink);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

/*------------ gallery page -------------------*/
.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
    }
    
    .hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
    }
    
    .hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
    }
    
    .hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:17px;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
    }
    
    .hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:50px 0 0;
    padding:7px 14px;
    }
    
    .hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
    }
    
    .hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    }
    
    .hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
    }
    
    .hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
    }
    
    .hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
    }










